<ion-view>
    <ion-nav-bar class="degrade-birrias">
        <ion-nav-buttons>
            <a class="button button-icon icon ion-ios-arrow-thin-left" ui-sref="login" style="color:#FFF"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            Regístro de Usuario
        </ion-nav-title>
    </ion-nav-bar> 
    <ion-content overflow-scroll="true" style="padding: 20px;" class="center degrade-birrias">
        <div class="spacer" style="height: 20px;"></div>
        <div ng-if="vm.logo == true">
            <img class="full-image center" ng-src="img/logo.png" style="width:80%; margin: 0">
        </div>
        <div class="list list-inset" style="background-color: transparent;">
            <form name="formRegistre">
                <label class="item item-input box-text-auth">
                    <i class="icon ion-at placeholder-icon"></i>
                    <input type="email" name="usuario" class="box-text-auth" placeholder="CORREO" ng-focus="vm.hideLogo();" ng-blur="vm.showLogo()" ng-model="vm.usuario.email" ng-required="true" >
                </label>
                <div class="spacer" style="height:10px;"></div>
                <label class="item item-input box-text-auth">
                    <i class="icon ion-ios-locked placeholder-icon"></i>
                    <input type="password" name="clave" class="box-text-auth" placeholder="CONTRASEÑA" ng-focus="vm.hideLogo();" ng-blur="vm.showLogo()" ng-model="vm.usuario.clave" ng-required="true" >
                </label>
                <div class="spacer" style="height:10px;"></div>
                <label class="item item-input box-text-auth">
                    <i class="icon ion-ios-person placeholder-icon"></i>
                    <input type="text" name="nombres" class="box-text-auth" placeholder="NOMBRES" ng-focus="vm.hideLogo();" ng-blur="vm.showLogo()" ng-model="vm.usuario.nombres" ng-required="true" >
                </label>
                <div class="spacer" style="height:10px;"></div>
                <label class="item item-input box-text-auth">
                    <i class="icon ion-ios-person placeholder-icon"></i>
                    <input type="text" name="apellidos" class="box-text-auth" placeholder="APELLIDOS" ng-focus="vm.hideLogo();" ng-blur="vm.showLogo()" ng-model="vm.usuario.apellidos" ng-required="true" >
                </label>
                <div class="spacer" style="height:10px;"></div>
                <label class="item item-input box-text-auth">
                    <i class="icon ion-android-phone-portrait placeholder-icon"></i>
                    <input type="number" name="telefono" class="box-text-auth" placeholder="TELEFONO" ng-focus="vm.hideLogo();" ng-blur="vm.showLogo()" ng-model="vm.usuario.telefono" ng-required="true" >
                </label>
                <div class="spacer" style="height:10px;"></div>
                <button class="button button-block btn btn-red "
                        ng-click="vm.registrarUsuario()">
                    Regístrarme
                </button>
            </form>
        </div>
    </ion-content>
</ion-view>