 <ion-nav-view class="bg">
 </ion-nav-view>
<script id="my-popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
       <div class="list">
            <a class="item" href="javascript:;"  ui-sref="app.editar" >
             <i class="ion-compose" style="font-size:16px;"></i> Editar perfil
            </a>
            <a class="item"  href="javascript:;" ui-sref="app.contacto">
              <i class="ion-chatbox-working" style="font-size:16px;"></i> Contáctanos
            </a>
            <a class="item"  href="javascript:;" ng-click="logout();">
              <i class="ion-power" style="font-size:16px;"></i> Cerrar sesión
            </a>
            </div>
    </ion-content>
  </ion-popover-view>
</script>
