<ion-content overflow-scroll="true">
    <div class="list">
        <a class="item item-thumbnail-left reserva" href="javascript:;" ng-repeat="item in vm.historial| orderBy:'-fecha'">
            <table style="width: 100%">
                <tr>
                    <td width="60%">
                        <h3>{{item.nombreSitio}} - {{item.nombreCancha}}</h3>
                        <p><i class="ion-android-calendar" style="font-size:18px;"></i> {{item.fecha}} - {{item.diaSemana}}<br><i class="ion-android-time" style="font-size:18px;"></i> {{item.hora}}:00</p>
                    </td>
                    <td style="text-align: right">
                        <a href="javascript:;" class="estado cca"  ng-if="item.estado === 'cumplida'">CUMPLIDA</a>
                        <a href="javascript:;" class="estado i" ng-if="item.estado === 'incumplida'">INCUMPLIDA</a>
                        <a href="javascript:;" class="estado c" ng-if="item.estado === 'cancelada'">CANCELADA</a>
                        <span class="money">Valor: {{item.precio| currency:undefined:0}}</span>
                        <span class="money">Abo. reque.: {{item.abonoRequerido| currency:undefined:0}}</span>
                        <span class="money l">Abo. liqui: {{item.abonoLiquidado| currency:undefined:0}}</span>
                    </td>
                </tr>

            </table>
        </a>
    </div>
    <div ng-if="vm.historial.length == 0">
        <img src="img/player.svg" width="70%;" style="margin-top:10%;">
        <h3>No tienes historial de reservas</h3>
    </div>
</ion-content>