<ion-content ng-class="transition" on-swipe-right="goBack()" on-swipe-left="goForward()">
     <a class="item item-icon-left reserva " href="javascript:;" style="background-color: transparent;border:none;height:48px;">
         <div class="row">
             <div class="col">
                 <img src="img/profile-sitio.png" ng-if="vm.Sitio.image === 0" style="width:40px;height: 40px;" class="icon">
                <img src="{{vm.Sitio.ruta}}" ng-if="vm.Sitio.image === 1" style="width:40px;height: 40px;" class="icon">
                <p style="margin-left: 46px;margin-top:-10px;">{{vm.Sitio.nombre}}</p>
             </div>
             <div class="col">
                  <img src="img/profile-cancha.png" ng-if="vm.Cancha.image === 0" style="width:40px;height: 40px;margin-left:50%" class="icon">
                  <img src="{{vm.Cancha.ruta}}" ng-if="vm.Cancha.image === 1" style="width:40px;height: 40px;margin-left:50%" class="icon">
                  <p style="margin-left:50px;margin-top:-10px;">{{vm.Cancha.nombre}}</p>
             </div>    
         </div>
    </a>
    <div class="row">
        <div class="col col-10">
            <a class="button button-icon button-positive icon ion-ios-arrow-left" style="padding-top: 0" ng-click="vm.moveToFecha('-')"></a>
        </div>
        <div class="col col-50">
            <input type="date" ng-model="vm.fecha" class="box-text" style="color:#FFF;margin-top: 5px;" ng-change="vm.viewAgenda(vm.Cancha)">
        </div>
        <div class="col col-30" style="padding-top:15px;">
            {{vm.diaSemana}}
        </div>
        <div class="col col-10">
            <a class="button button-icon button-positive icon ion-ios-arrow-right" style="padding-top: 0" ng-click="vm.moveToFecha('+')"></a>
        </div>
    </div>

    <ul style="width:80%;margin-left:10%;">
        <li ng-repeat="item in vm.horas" id="{{item}}-{{vm.converToFecha(vm.fecha)}}"  class="hora">
           <a href="javascript:;" ng-click="vm.reservar(item);" >
            <div class="row">
                <div class="col col-40">
                    {{item}}:00
                </div>
                <div class="col col-60" style="text-align: left">
                    RESERVAR
                </div>
            </div>
            </a>
        </li>
    </ul>

</ion-content>
