<ion-content ng-class="transition"  on-swipe-right="goBack()" on-swipe-left="goForward()">   
  <a class="item item-icon-left reserva" href="javascript:;" style="background-color: transparent;border:none;height:48px;">
         <img src="img/profile-sitio.png" ng-if="vm.Sitio.image === 0" style="width:40px;height: 40px;" class="icon">
       <img src="{{vm.Sitio.ruta}}" ng-if="vm.Sitio.image === 1" style="width:40px;height: 40px;" class="icon">
       <p style="margin-left: 46px;">{{vm.Sitio.nombre}}</p>
  </a>
  <div class="list">
       <a class="item item-thumbnail-left reserva"  ng-repeat="item in vm.canchas" ng-click="vm.viewCanchas(item)">
           <img src="img/profile-cancha.png" ng-if="item.image === 0" style="width:68px;height: 68px;">
           <img src="{{item.ruta}}" ng-if="item.image === 1" style="width:68px;height: 68px;">
           <div style="margin-left:84px;">
           <h3>{{item.nombre}}</h3>
           <p>{{item.largo}}m x {{item.ancho}}m</p>
           <p>Techo: <span ng-if="item.techo === 1">SI</span><span ng-if="item.techo === 0">NO</span></p>
           <p>Jugadores por equipo: {{item.jugadores}}</p>
           </div>
     </a>
</div>  
   
</ion-content>
