<ion-content ng-class="transition" on-swipe-right="goBack()" on-swipe-left="goForward()">
    <div ng-if='!vm.conexion'>
        <img src="img/wifi.svg" style='width:60%;margin-top: 10%'>
    </div>
       <ion-refresher
    pulling-text="Cargar sitios..."
    on-refresh="vm.getSitios()">
  </ion-refresher>
    <div class="list" ng-if='vm.conexion'>
        <a class="item item-thumbnail-left reserva"  ng-repeat="item in vm.sitios">
            <img src="img/profile-sitio.png" ng-if="item.image == 0" style="width:68px;height: 68px;">
            <img src="{{item.ruta}}" ng-if="item.image == 1" style="width:68px;height: 68px;" ng-click='openModal(item.ruta)'>
            <div style="margin-left:84px;" ng-click="vm.viewCanchas(item)">
                <h3>{{item.nombre}}</h3>
                <p><i class="ion-ios-telephone"></i> {{item.telefono}}</p>
                <p><i class="ion-ios-location"></i> {{item.direccion}}</p>
            </div>
        </a>
    </div>
</ion-content>
    
